@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Force dark text on inputs since we are using white backgrounds for them */
input,
textarea,
select {
  color: #171717 !important;
}

@media print {
  body * {
    visibility: hidden;
  }

  #printable-ticket,
  #printable-ticket * {
    visibility: visible;
  }

  #printable-ticket {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
    display: block !important;
    /* Override tailwind hidden */
  }

  @page {
    size: auto;
    margin: 0;
  }

  /* Hide headers/sidebars explicitly if needed */
  header,
  nav,
  aside,
  .modal-overlay {
    display: none !important;
  }
}

/* Toast Animations */
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.toast-slide-in {
  animation: slide-in-right 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}